# VSCode
.vscode/
*.code-workspace

# 缓存
__pycache__/
*.pyc
*.pyo
*.pyd
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.cache
.ipynb_checkpoints/

# 不上传特定文件夹
datasets/
target_features/

# 其他
.env
.DS_Store
*.log
log.txt